.elements__button {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(/images/Group.png);
    margin-right: 0px;
    margin-left: auto;
    margin-top: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .elements__button:hover {
    background-image: url(/images/Vector.svg);
  }
  
  .elements__button:active {
    background-image: url(/images/Union.svg);
  }